.swiper-container {
  width: 100%;
  height: 100%;
  margin-bottom: 3%;
}

.swiper-slide {
  text-align: center;
  background-size: cover;
}

.swiper-wrapper {
  position: relative;
}

.swiper-wrapper > div > img {  
  width: 100%;  
  height: 100%;  
  object-fit: cover;  
}

